<!DOCTYPE html>
<html lang="">

<head>
  <meta charset="utf-8">
  <meta http-equiv="pragma" content="no-cache" />
  <meta name="viewport" content="width=device-width, initial-scale=0.83, user-scalable=no">
  <meta name="format-detection" content="telephone=no">
  <link rel="icon" type="image/x-icon" href="./assets/phone.jpg">
  <meta name="msapplication-tap-highlight" content="no">
  <title>
    icon manager, rxjs learning notes
  </title>

  <meta name="description" content="<%= htmlWebpackPlugin.options.title %>">

</head>

<body>
  <div style="width:0;height:0;overflow:hidden;">
    <img src="./assets/phone.jpg" alt="">
  </div>
  
  <!--<div>
    <input type="text" name="lname" id="test-input" />
    <button type="button" id="test-button">Click Me!</button>
  </div>-->
  <%= require('./icon-manager/index.ejs')() %>
</body>

</html>