<div id="icon-manager">
    <div id="icon-manager-content">
        <div id="icon-trash-content">
            <div style="display:none">
                卸载
            </div>
        </div>
    </div>
</div>